In [3]:
execfile('../src/utils.py')
execfile('../src/cellslib.py')

In [16]:
path = '/notebooks/moldev-data/original/06-22-2015/[ ID_103 ] 9.9.14 APB Drug Screen HU TS DH (60X) 11.5.2014.txt'
# savepath = '/notebooks/moldev-data/analyzed/06-19-2015/APB.csv'

date = '11-05-2014'

In [17]:
well_df = create_well_df(cell_dict)
condition_lookup = pd.concat([create_plate_df(well_df,a,b) for a,b in conditions])
condition_lookup['Date'] = date

NameError: name 'cell_dict' is not defined

In [4]:
condition_lookup.head()

  Well Name  Plate Name               Condition      Plate ID        Date
0       A03          24  PML ssC w RNase A 143B  39fd3b6507c2  06-18-2015
1       A04          24  PML ssC w RNase A 143B  39fd3b6507c2  06-18-2015
2       B03          24  PML ssC w RNase A 143B  39fd3b6507c2  06-18-2015
3       B04          24  PML ssC w RNase A 143B  39fd3b6507c2  06-18-2015
0       A01          24  PML ssC w RNase A U2OS  39fd3b6507c2  06-18-2015

In [5]:
# String -> String
def rename_column(col):
    """ Rename column col to remove whitespace, backslashes, prefixes,
        and suffixes (esp. large parenthetic suffix). """
    if col.startswith('Cell:'):
        return col.split('(')[0].lstrip("Cell:").rstrip('/').strip(' ')
    else:
        return col.split('(')[0].rstrip('/').strip(' ')

cell_config = dict(
    path = path,
    plate_delimiter = "ATF",
    delimiter = '\t',
    skiprows = 4,
    dropcols = ['Cell ID',
                'Site ID',
                'MEASUREMENT SET ID',
                '.*ObjectID.*',
                '\.[0-9]*\Z'],
    normcols = [['Normalized APB spots',
                  ['# of APBs'],
                  ['# of FITC spots', '# of TxRed spots']],
                ['Normalized Coloc area',
                  ['Area_Coloc_Avg'],
                  ['Area_FITC','Area_TxRed']],
                ['Normalized Coloc spots',
                  ['# Coloc Spots'],
                  ['# of FITC spots', '# of TxRed spots']]],
    colrename = rename_column,
    check = identity
    )


cell_data = get_cell_data(cell_config)

In [6]:
data = pd.merge(cell_data.rename(columns={"Plate ID":"Plate Name"}),
                condition_lookup,
                on = ['Plate Name','Well Name'])

# Write to file
data.to_csv(savepath,index=False)

In [7]:
data.head()

,Well Name,Plate Name,# of FITC spots,Area_FITC,NucArea_Avg,NucIntegrated Intensity_Average,Integrated Intensity_FITC,Area_TxRed,Integrated Intensity_TxRed,# of TxRed spots,...,FITC-TxRed_Area_Avg,FITC-TxRed_Area_Total,FITC-TxRed Spots,Laser focus score,Normalized APB spots,Normalized Coloc area,Normalized Coloc spots,Condition,Plate ID,Date
0,A01,30,0,NaN,130.382538,6520048,NaN,0.319715,6932.227051,22,...,NaN,NaN,0,38.065731,0,NaN,0,IgG APB w LNA probe after denature U2OS,e4d760b1b618,06-18-2015
1,A01,30,0,NaN,98.292526,4312295,NaN,0.314608,6263.420898,19,...,NaN,NaN,0,38.065731,0,NaN,0,IgG APB w LNA probe after denature U2OS,e4d760b1b618,06-18-2015
2,A01,30,0,NaN,211.955902,10554059,NaN,0.315930,6673.911621,34,...,NaN,NaN,0,38.065731,0,NaN,0,IgG APB w LNA probe after denature U2OS,e4d760b1b618,06-18-2015
3,A01,30,0,NaN,273.259521,17441074,NaN,0.429075,11073.958008,48,...,NaN,NaN,0,38.065731,0,NaN,0,IgG APB w LNA probe after denature U2OS,e4d760b1b618,06-18-2015
4,A01,30,0,NaN,221.349197,10745417,NaN,0.323120,6839.575684,33,...,NaN,NaN,0,38.065731,0,NaN,0,IgG APB w LNA probe after denature U2OS,e4d760b1b618,06-18-2015