In [1]:
import pandas as pd
import uuid
import numpy as np
from cStringIO import StringIO
from toolz import thread_first, thread_last, pipe
from pandas import DataFrame as df
execfile('./utils.py')

In [2]:
def mapdict(f,d):
    return [f(k,v) for k,v in d.iteritems()]

def tail(x):
    return x[1:]

def generate_sid():
    return str(uuid.uuid4()).split('-')[-1]

def create_well_df(cell_dict):
    return thread_last(cell_dict,
                       (mapdict,lambda k,v: {"Cell Type":k,"Well Name":v}),
                       (map, df),
                       pd.concat)

def create_plate_df(well_df,plate_info, plate_name):
    x = well_df.copy()
    x['Plate Name'] = plate_name
    x['Condition'] = plate_info + ' ' + x['Cell Type']
    x['Plate ID'] = generate_sid()
    return x.drop('Cell Type',axis=1)

In [3]:
conditions = [('PML ssC w RNase A',24),
              ('PML APB w RNase A',25),
              ('PML ssC wo RNase A',26),
              ('PML IF only control no EtOH dehydrat',27),
              ('PML ssC control no FISH',28),
              ('IgG APB w LNA probe before denature',29),
              ('IgG APB w LNA probe after denature',30),
              ('IgG ssC w LNA probe no denature',31)]

cell_dict = {"U2OS": ['A01','A02','B01','B02'],
             "143B": ['A03','A04','B03','B04']}

date = '06-18-2015'

In [4]:
well_df = create_well_df(cell_dict)
condition_lookup = pd.concat([create_plate_df(well_df,a,b) for a,b in conditions])
condition_lookup['Date'] = date

In [5]:
condition_lookup.head()

  Well Name  Plate Name               Condition      Plate ID        Date
0       A03          24  PML ssC w RNase A 143B  0cf3a243881c  06-18-2015
1       A04          24  PML ssC w RNase A 143B  0cf3a243881c  06-18-2015
2       B03          24  PML ssC w RNase A 143B  0cf3a243881c  06-18-2015
3       B04          24  PML ssC w RNase A 143B  0cf3a243881c  06-18-2015
0       A01          24  PML ssC w RNase A U2OS  0cf3a243881c  06-18-2015

In [23]:
from pandas import DataFrame as df
import pandas as pd
import numpy as np
from toolz import thread_first,\
                  thread_last,\
                  juxt
from utils import curry_funcs,\
                  drop_matching_columns,\
                  add_normalized_columns,\
                  headers_to_column,\
                  groupby_and_summarize,\
                  identity

curry_funcs(['pd.read_csv',
             'df.dropna',
             'df.rename',
             'map'])

###################################################
### Cell Data Config ##############################
###################################################

# String -> String
def rename_column(col):
    """ Rename column col to remove whitespace, backslashes, prefixes,
        and suffixes (esp. large parenthetic suffix). """
    if col.startswith('Cell:'):
        return col.split('(')[0].lstrip("Cell:").rstrip('/').strip(' ')
    else:
        return col.split('(')[0].rstrip('/').strip(' ')

def check_cell_data(dataframe):
    return dataframe

# type CellConfig = {
#        path      :: String,
#        skiprows  :: Int | [Int],
#        dropcols  :: [RegexString],
#        normcols  :: [[String,[String],[String]]],
#        colrename :: (String -> String),
#        check     :: (DataFrame -> DataFrame | Exception) }

cell_config = dict(
    path = '/notebooks/moldev-data/original/06-19-2015/6.19.15 All ssC data - Jonah Simon.txt',
    plate_delimiter = "ATF",
    delimiter = '\t',
    skiprows = 4,
    dropcols = ['Cell ID',
                'Site ID',
                'MEASUREMENT SET ID',
                '.*ObjectID.*',
                '\.[0-9]*\Z'],
    normcols = [['Normalized APB spots',
                  ['# of APBs'],
                  ['# of FITC spots', '# of TxRed spots']],
                ['Normalized Coloc area',
                  ['Area_Coloc_Avg'],
                  ['Area_FITC','Area_TxRed']],
                ['Normalized Coloc spots',
                  ['# Coloc Spots'],
                  ['# of FITC spots', '# of TxRed spots']]],
    colrename = rename_column,
    check = check_cell_data
    )

###################################################
### Lookup Config #################################
###################################################

def check_lookup_data(dataframe):
    return dataframe

# type LookupConfig = {
#        path      :: String,
#        skiprows  :: Int | [Int],
#        check     :: (DataFrame -> DataFrame | Exception) }

lookup_config = dict(
    path = '../input/conditions_and_wells.csv',
    skiprows = [1],
    check = check_lookup_data
    )

# CellConfig -> DataFrame


data = thread_first(path,
                    open,
                    file.read,
                    (str.split,'ATF'),
                    tail,
                    map(StringIO),
                    map(pd.read_csv(delimiter='\t',skiprows=4)),
                    pd.concat)


def get_cell_data(c):
    return thread_first(c['path'],
                        open,
                        file.read,
                        (str.split,c['plate_delimiter']),
                        tail,
                        map(StringIO),
                        map(pd.read_csv(delimiter=c['delimiter'], skiprows=c['skiprows'])),
                        pd.concat,
                        df.dropna(axis=1,how='all'),
                        (drop_matching_columns,c['dropcols']),
                        df.rename(columns=c['colrename']),
                        (add_normalized_columns,c['normcols']),
                        c['check'])

# data = pd.merge(get_cell_data(cell_config),
#                 get_lookup_data(lookup_config),
#                 on = 'Well Name')

# # Write to files
# data.to_csv('../output/moldev_cleaned.csv',index=False)

In [21]:
data = get_cell_data(cell_config)

In [22]:
data

,Well Name,Plate ID,# of FITC spots,Area_FITC,NucArea_Avg,NucIntegrated Intensity_Average,Integrated Intensity_FITC,Area_TxRed,Integrated Intensity_TxRed,# of TxRed spots,...,Total_Int_Intensity_TxRed,FITCinAPB_Int_Intensity_Total,TxRinAPB_Int_Intensity_Total,FITC-TxRed_Area_Avg,FITC-TxRed_Area_Total,FITC-TxRed Spots,Laser focus score,Normalized APB spots,Normalized Coloc area,Normalized Coloc spots
0,A01,28,9,0.314608,166.787186,6676052,15065.444336,0.101124,1533,1,...,1533,NaN,NaN,NaN,NaN,0,29.000000,0,NaN,0.000000
1,A01,28,30,0.380900,220.989655,7825328,45452.234375,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,29.000000,0,NaN,0.000000
2,A01,28,13,0.294729,154.607361,6503341,13281.845703,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,29.000000,0,NaN,0.000000
3,A01,28,13,0.279171,219.866043,11076027,21914.615234,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,29.000000,0,NaN,0.000000
4,A01,28,9,0.463173,88.404846,4023999,35109.667969,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
5,A01,28,15,0.406743,129.124115,5213599,27807.466797,0.101124,1529,1,...,1529,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
6,A01,28,13,0.368195,94.652061,4387602,20871.230469,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
7,A01,28,12,0.336144,182.023193,10562550,21516.750000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
8,A01,28,18,0.294009,168.450119,7898620,19877.945313,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
9,A01,28,25,0.317754,181.079376,8081118,21214.400391,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
10,A01,28,9,0.243447,107.550995,4778046,16560.111328,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
11,A01,28,15,0.298129,181.663651,7902226,11852.733398,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
12,A01,28,1,0.089888,37.977680,1969588,2875.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
13,A01,28,12,0.299627,145.303955,7518581,22341.750000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
14,A01,28,27,0.236788,166.337738,7257344,9605.481445,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
15,A01,28,10,0.425844,99.550957,4848873,29299.500000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
16,A01,28,11,0.283964,84.000336,3983524,16650.273438,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
17,A01,28,6,0.310863,149.303970,6066451,17282.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
18,A01,28,13,0.387210,132.180298,5955120,26580.845703,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
19,A01,28,32,0.305128,230.967209,9586134,19953.500000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
20,A01,28,3,0.172285,20.314688,831484,5065.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
21,A01,28,19,0.300415,205.618805,7835549,12771.947266,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
22,A01,28,9,0.340825,119.416206,4830045,20180.333984,0.101124,1678,1,...,1678,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
23,A01,28,11,0.288050,113.258881,4745431,18240.273438,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
24,A01,28,16,0.334973,154.562408,8473310,23890.312500,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
25,A01,28,22,0.269153,179.641174,8550148,13603.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
26,A01,28,15,0.346069,117.079117,4856781,19804.267578,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
27,A01,28,16,0.281602,129.933105,5764142,13775.437500,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
28,A01,28,22,0.336059,177.708572,7339976,15855.045898,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
29,A01,28,20,0.329215,146.876999,5885709,16444.400391,0.101124,1484,1,...,1484,NaN,NaN,NaN,NaN,0,31.000000,0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3151,B04,26,11,0.267621,74.741875,5153206,21950.455078,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3152,B04,26,12,0.347380,71.550850,3568257,22758.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3153,B04,26,7,0.377209,55.101345,3049555,27016.714844,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3154,B04,26,10,0.468541,144.899460,5992874,58469.800781,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3155,B04,26,67,0.312260,296.270844,23967720,41615.121094,0.101124,1924,1,...,1924,76054,1924,0.516856,0.516856,1,24.779024,0,0.217444,0.014706
3156,B04,26,9,0.237204,88.000351,8460160,29184.666016,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3157,B04,26,12,0.337080,77.528397,5844463,31931.666016,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3158,B04,26,16,0.458569,141.079208,8870334,47126.375000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3159,B04,26,22,0.355977,122.697121,5161585,27430.318359,0.685396,19074,1,...,19074,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3160,B04,26,4,0.643261,94.562180,5498108,66428.250000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3161,B04,26,2,0.353934,34.831600,2303631,36100.500000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3162,B04,26,10,0.253934,79.550880,5469430,17712.199219,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3163,B04,26,15,0.432961,152.719711,6063469,33686.464844,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3164,B04,26,9,0.533086,89.843056,4772949,48269.890625,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3165,B04,26,6,0.477530,52.944031,2605213,50070.167969,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3166,B04,26,7,0.388445,123.056671,4876177,28721.857422,0.308990,5679,2,...,11358,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3167,B04,26,9,0.390763,118.831940,5120493,28971.445313,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3168,B04,26,11,0.409603,89.079010,6203664,59045.273438,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3169,B04,26,21,0.375603,106.472336,10682232,50226.808594,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3170,B04,26,7,0.438204,59.910351,3908748,37793.714844,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3171,B04,26,8,0.384833,67.191277,3086900,28831.625000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3172,B04,26,5,0.294383,35.370930,1683628,15338.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3173,B04,26,19,0.410410,100.000397,9036064,45126.843750,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3174,B04,26,23,0.291647,98.427361,6763057,38643.390625,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3175,B04,26,4,0.382024,19.955135,1208103,27218.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3176,B04,26,12,0.283709,42.382191,2000774,20471.666016,0.101124,1722,1,...,1722,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3177,B04,26,9,0.456931,107.865601,4656340,32542.111328,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3178,B04,26,7,0.393260,57.977760,2657360,31686.714844,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3179,B04,26,2,0.337080,15.910176,816631,24212.500000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000
3180,B04,26,9,0.425720,133.933121,6233933,32275.000000,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,0,24.779024,0,NaN,0.000000